#footer{
    height:80px;
    width: 100%;
    position: fixed;
    bottom:0;
    background-color: white;
}
.navBtns{
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(230, 230, 230);
    border-radius: 5px;
    margin: 2px 15px 2px 15px;
    height: 75px;
    width: 75px;
    font-size: small;
}

.fas{
    display: block;
    text-align: center;
    margin: 0px auto 0px auto;
}
@media only screen and (max-width: 600px) {
    #homeBtn{
        float: left;
    }
    #acctBtn{
        float: right;
    }
}